#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainbox {
  background-color: rgb(255, 230, 234);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.to-left {
  text-align: left;
  padding: 6px;

}



input[type='text'],
input[type='date'] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  width: 70%;
}

.fix-btn {
  margin-left: -0.1%;
  padding: 7px;
  padding-top: 2.5px;
}

.l-row {
  margin: 1%;
}