#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  display: flex;
  justify-content: center;
}

#mainhead {

  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#mainhead h1 {
  font-size: 3rem;
  font-weight: bolder;
  display: inline;
}




#mainhead :hover {
  color: #6fb96d;
}

ul {

  padding-top: 20px;
}


.packer {
  width: 35%;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
}



.fixbuy {
  float: right;
}



.handleinput {
  padding: 12px;
  margin-top: 6px;
  width: 100%;
  border-radius: 5px;
}

.input-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: end;
  align-items: center;
}

/* Style for input */


/* Style for button */
.add-button {
  position: absolute;
  border-radius: 5px;
  margin: 15px;
  margin-top: 22px;
  /* Ensure the button aligns with the input's border */
}

.capturing {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  margin-top: 5px;
  padding: 5px;
}

.textfix {
  color: #6fb96d;
  margin: 6px;
}