#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calcname {
  padding-top: 15px;
  color: white;
  font-size: 2.5rem;
}

.CalcBox {
  border: 3px solid rgb(255, 255, 255);
  width: 25%;
  border-radius: 30px;
  background-color: rgb(27, 27, 27);
}

.inputx {
  border: 2px solid black;
  width: 85%;
  padding: 15px;
  margin: 20px;
  border-radius: 25px;
  text-align: right;
  font-size: 1.5rem;
}

.fixelements {
  display: inline-block;
  padding: 6px;

}

.butt {

  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background-color: rgb(27, 27, 27);
  border-color: white;
}